{% extends 'base.html' %} {% block title %}{{ titulo }}{% endblock %} {% block
content %}

<h2>Categorias Cadastradas</h2>
 <a href="{{ url_for('salvar_categoria') }}" class="btn btn-primary mb-3">Nova Categoria</a>
<div class="Table">
  <article>
    <form action="#" method="post" aria-label="tabela de categorias">
      <table border="1">
        <thead>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for categoria in categorias %}
              <tr>
                <td>{{ categoria[0] }}</td>
                <td>{{ categoria[1] }}</td>
                <td>
                  <a href="" class="btn btn-sm btn-secondary">Editar</a>
                  <button
                    class="btn btn-sm btn-danger"
                    onclick="return confirm('Excluir?')"
                  >
                    Excluir
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </thead>
      </table>
      {% endblock %}
    </form>
  </article>
</div>
