{% extends 'base.html' %}
{% block title %}Lista de Produtos{% endblock %}

{% block content %}
  <div class="card p-4 shadow-sm">
    <h1 class="h5 mb-3">Produtos</h1>

    <a href="{{ url_for('salvar_produto') }}" class="btn btn-primary mb-3">Novo produto</a>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Preço</th>
          <th>Estoque</th>
          <th>Categoria ID</th>
        </tr>
      </thead>
      <tbody>
      {% for p in produtos %}
        <tr>
          <td>{{ p[0] }}</td>
          <td>{{ p[1] }}</td>
          <td>{{ p[2] }}</td>
          <td>{{ p[3] }}</td>
          <td>{{ p[4] }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
